*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", "sans-serif";
}

.wrapper {
  height: 100vh;
  width: 100vw;
  background: url(./image/gradient.jpg);
  background-size: cover;
  background-position: center;
  display: grid;
  place-items: center;

}

.game-info{
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 0.5rem 3rem;
    position: absolute;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.tic-tac-toe {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 1rem;
  width: 90%;
  margin-top: 10px;
  max-width: 20rem; 
  border: 1px solid rgba(255, 255, 255, 0.25);
  aspect-ratio: 1/1;
}

.box{
    color: white;
    position: relative;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 3rem;
    width: 100%;
    transition: all 150ms ease-in-out;
}

.box1, .box4, .box2, .box5{
   border-right: 2px solid white;
   border-bottom: 2px solid white;
}

.box7, .box8{
  border-right: 2px solid white;
}

.box3, .box6{
  border-bottom: 2px solid white;
}

.btn{
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
    padding: 0.5rem 2rem;
    border-radius:15px;
    cursor: pointer;
    opacity: 0;
}

.btn.active{
    opacity: 1;
}

.win {
    background-color: rgba(0, 255, 0, 0.3);
}
